.note {
  width: 0.6rem;
  height: 0.6rem;
  border: solid 1px var(--grey-500);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
  transition: var(--fast-transition);
}

.note.strong {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0rem;
}

.note.active {
  background-color: gray;
}
